* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
.card {
    margin-top: 4%;
}
.card-body {
    padding: 20px 30px;
} */
.card-title-group {
    background-color: rgb(134, 16, 55);
    color: #ffffff;
    padding: 15px 20px;
    display: block;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}
.card-country-group {
    margin-top: 10%;
}
.flag-img {
    width: 50px;
    height: 35px;
    box-shadow: 0px 0px 8px #c9c9c9;
    margin-left: 15%;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-color: #ffffff;
    width: 270px;
    height: 350px;
    margin: 50px 10px 10px 10px;
    border-radius: 15px;
    
}
.card:hover {
    background-color: #dedede;
    color: #a50909;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 0.5s ease;
}
